<!-- <div class="card-list">
  <app-playing-card></app-playing-card>
  <app-playing-card [my-monster]="monster1"></app-playing-card>
</div>
 -->
<!-- <app-search-bar
  (searchButtonClicked)="increaseCount()"
  [search]="search"
  (searchChange)="search = $event"
/>

Search : {{ search }} <br /><br />
Click count : {{ count }} -->

<!-- <button (click)="toggleMonster()">Toggle Monster</button> -->

<!-- <div
  *ngIf="filteredMonsters().length == 0; then notFound; else found"
  class="center"
></div> -->
<!-- <ng-template #notFound>

</ng-template>
<ng-template #found>
  <div class="center">Found {{ filteredMonsters().length }} monsters !</div>
</ng-template>
 -->
@if(loginService.user()) {
<mat-toolbar>
  <button mat-icon-button (click)="navigateHome()">
    <mat-icon>home</mat-icon>
  </button>
  <p>
    Welcome {{ loginService.user()?.firstName }}
    {{ loginService.user()?.lastName }}
  </p>
  <button mat-flat-button color="warn" (click)="logout()">Logout</button>
</mat-toolbar>
}
<router-outlet></router-outlet>
